# Rules to relax permissions on event files for USB joysticks and other USB desktop input devices:

# Rule for Logitech Wingman Extreme 3D Pro
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c215", MODE="0666"

# Rule for Logitech / 3DConnexion Space Traveler
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c623", MODE="0666"

# Rule for Logitech / 3DConnexion Space Pilot
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c625", MODE="0666"

# Rule for Logitech / 3DConnexion Space Navigator
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c626", MODE="0666"

# Rule for Logitech / 3DConnexion Space Explorer
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c627", MODE="0666"

# Rule for Razer Hydra desktop 6-DOF tracking system
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0300", MODE="0666"
