########################################################################
# Configuration file fragment to add a control window for head-mounted
# displays.
# Copyright (c) 2016 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui

	section Vive
		viewerNames += (ControlViewer)
		screenNames += (ControlScreen)
		windowNames += (ControlWindow)
		
		section ControlViewer
			headTracked false
			headDeviceTransformation translate (0.0, -39.37, 40.0)
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, 0.0, 0.0)
			leftEyePosition (-1.25, 0.0, 0.0)
			rightEyePosition (1.25, 0.0, 0.0)
			headLightEnabled false
		endsection
		
		section ControlScreen
			origin (-32.0, 0.0, 24.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 64.0
			verticalAxis (0.0, 0.0, 1.0)
			height 36.0
		endsection
		
		section ControlWindow
			groupId 1
			windowSize (1280, 720)
			windowType Mono
			screenName ControlScreen
			viewerName ControlViewer
		endsection
	endsection
	
	section RiftDK2
		viewerNames += (ControlViewer)
		screenNames += (ControlScreen)
		windowNames += (ControlWindow)
		
		section ControlViewer
			headTracked false
			headDeviceTransformation translate (0.0, -39.37, 40.0)
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, 0.0, 0.0)
			leftEyePosition (-1.25, 0.0, 0.0)
			rightEyePosition (1.25, 0.0, 0.0)
			headLightEnabled false
		endsection
		
		section ControlScreen
			origin (-32.0, 0.0, 24.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 64.0
			verticalAxis (0.0, 0.0, 1.0)
			height 36.0
		endsection
		
		section ControlWindow
			groupId 1
			windowSize (1280, 720)
			windowType Mono
			screenName ControlScreen
			viewerName ControlViewer
		endsection
	endsection
endsection
