########################################################################
# Configuration file fragment to fake head-mounted displays for
# debugging purposes.
# Copyright (c) 2016 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui

	section Vive
		displayCenter (0.0, 1.5, 0.0)
		displaySize 1.5
		forwardDirection (0.0, 0.0, -1.0)
		upDirection (0.0, 1.0, 0.0)
		floorPlane (0.0, 1.0, 0.0), 0.0
		glyphSize 0.03
		newInputDevicePosition (0.0, 1.5, 0.0)
		inputDeviceAdapterNames (DummyAdapter)
		
		section DummyAdapter
			inputDeviceAdapterType Dummy
			inputDeviceNames (HMD, Controller1, Controller2)
			
			section HMD
				trackType 6D
				transform translate (0.0, 1.5, 1.0)
			endsection
			
			section Controller1
				trackType 6D
				transform translate (-0.5, 1.25, 0.5)
				deviceRayDirection (0.0, 0.0, -1.0)
				deviceRayStart 0.0
				numButtons 5
				buttonNames (System, Menu, Grip, Touchpad, Trigger)
				numValuators 3
				valuatorNames (TouchpadX, TouchpadY, AnalogTrigger)
			endsection
			
			section Controller2
				trackType 6D
				transform translate (0.5, 1.25, 0.5)
				deviceRayDirection (0.0, 0.0, -1.0)
				deviceRayStart 0.0
				numButtons 5
				buttonNames (System, Menu, Grip, Touchpad, Trigger)
				numValuators 3
				valuatorNames (TouchpadX, TouchpadY, AnalogTrigger)
			endsection
		endsection
		
		section HMDWindow
			outputName 
			windowSize (2160, 1200)
			windowFullscreen false
			decorate true
			
			section LensCorrector
				# Fake lens distortion formulas, as Vive normally provides them from firmware
				leftFormulaNames (GreenFormula, RedBlueFormula, RedBlueFormula)
				rightFormulaNames (GreenFormula, RedBlueFormula, RedBlueFormula)
				
				oledCorrectionFactors (0.0, 0.0)
				fixContrast false
				
				section GreenFormula
					type Polynomial
					coefficients (0.0)
				endsection
				
				section RedBlueFormula
					type Polynomial
					coefficients (0.0)
				endsection
			endsection
		endsection
	endsection

	section RiftDK2
		inputDeviceAdapterNames (MouseAdapter, DummyAdapter)
		
		section DummyAdapter
			inputDeviceAdapterType Dummy
			inputDeviceNames (Head)
			
			section Head
				trackType 6D
				transform translate (0.0, -39.37, 40.0)
			endsection
		endsection
		
		section HMDWindow
			outputName 
			windowSize (1920, 1080)
			windowFullscreen false
			decorate true
			leftViewportPos (0, 0), (960, 1080)
			rightViewportPos (960, 0), (960, 1080)
			
			section LensCorrector
				displayRotation 0.0
				oledCorrectionFactors (0.0, 0.0)
				fixContrast false
			endsection
		endsection
	endsection
	
endsection
