########################################################################
# Configuration file fragment containing common user-configurable
# options for Oculus Rift DK2.
# Copyright (c) 2015 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui

	section OculusRiftDK2
		# All following linear measurements are in inches
		
		# Define a working sphere inside which 3D objects appear by default
		displayCenter (0.0, 0.0, 40.0)
		displaySize 36.0
		
		# Define a floor plane, can be used to override user height
		floorPlane (0.0, 0.0, 1.0), 0.0
		
		# Define front and back clipping plane distances
		frontPlaneDist 3.0
		backPlaneDist 100000.0
		
		# Define the background color
		backgroundColor (0.0, 0.0, 0.0)
		
		# Define the size of 3D glyphs and user interface components
		glyphSize 1.5
		uiSize 0.3
		uiFontTextHeight 0.6
		uiSliderWidth 0.9
		
		section OVRDAdapter
			# Set the following translation's z component to the height of your tracking
			# camera above your real floor, measured in inches:
			cameraTransform translate (0.0, -39.37, 50.0) * rotate (1.0, 0.0, 0.0), 90.0
		endsection
		
		section HMDViewer
			# Define inter-pupillary distance and distance from user's pupils to screen:
			monoEyePosition (0.0, -2.2, 0.0)
			leftEyePosition (-1.25, -2.2, 0.0)
			rightEyePosition (1.25, -2.2, 0.0)
		endsection
		
		section MouseScreen
			# Define the "FOV" of the mouse cursor
			origin (-40.0, 6.0, 25.5)
			width 80.0
			height 50.0
		endsection
		
		section HMDWindow
			# Disable vertical retrace synchronization
			# vsync false
			
			# Define the window's multisampling level
			# multisamplingLevel 32
		endsection
	endsection
endsection
